<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SuiteName" verbose="2">
    <test name="TestName">
         <classes>
             <class name="jenkinsAutomation.getComments"/>
          </classes>
     </test> <!-- Test -->
</suite> <!-- Suite -->
